name: PyPI Deployment

on:
  push:
  pull_request:
  merge_group:

jobs:
  release-linux-x86_64:
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        target: ["x86_64"]
        manylinux: ["manylinux2014"]
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - name: Checkout the source tree
        uses: actions/checkout@v3
      - name: Build the wheel
        uses: PyO3/maturin-action@v1
        env:
          PROTOC: /home/runner/.local/bin/protoc
        with:
          command: build
          args: --release -m binding/python/Cargo.toml -o dist -i python${{ matrix.python-version }}
          before-script-linux: |
            PB_REL="https://github.com/protocolbuffers/protobuf/releases"
            curl -LO $PB_REL/download/v23.2/protoc-23.2-linux-x86_64.zip
            unzip protoc-23.2-linux-x86_64.zip -d $HOME/.local
            export PATH="$PATH:$HOME/.local/bin"
          manylinux: ${{ matrix.manylinux }}
          target: ${{ matrix.target }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: binding/python/dist

  release-linux-aarch64:
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target: ["aarch64"]
        manylinux: ["manylinux2014"]
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v1
      - name: Checkout the source tree
        uses: actions/checkout@v3
      - name: Build the wheel
        uses: PyO3/maturin-action@v1
        env:
          PROTOC: /home/runner/.local/bin/protoc
        with:
          command: build
          args: --release -m binding/python/Cargo.toml -o dist -i python${{ matrix.python-version }}
          before-script-linux: |
            sudo apt-get install -y unzip
            PB_REL="https://github.com/protocolbuffers/protobuf/releases"
            curl -LO $PB_REL/download/v23.2/protoc-23.2-linux-aarch_64.zip
            unzip protoc-23.2-linux-aarch_64.zip -d $HOME/.local
            export PATH="$PATH:$HOME/.local/bin"
          manylinux: ${{ matrix.manylinux }}
          target: ${{ matrix.target }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: binding/python/dist

  release-macos:
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    runs-on: macos-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: ["3.10", "3.11", "3.12"]
    steps:
      - name: Checkout the source tree
        uses: actions/checkout@v3
      - name: Install prerequisites
        run: |
          brew install protobuf
      - name: Build the wheel
        uses: PyO3/maturin-action@v1
        with:
          command: build
          args: --release -m binding/python/Cargo.toml -o dist --universal2 -i python${{ matrix.python-version }}
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: binding/python/dist

  release-source:
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the source tree
        uses: actions/checkout@v3
      - name: Set up Python as Runtime
        uses: actions/setup-python@v4
        with:
          python-version: "3.11"
      - name: Build the source distribution
        working-directory: binding/python
        run: |
          pip install -U pip setuptools
          pip install -U build
          python -m build --sdist
      - name: Upload artifacts
        uses: actions/upload-artifact@v3
        with:
          name: wheels
          path: binding/python/dist

  publish-to-pypi:
    needs: [release-linux-x86_64, release-linux-aarch64, release-macos, release-source]
    environment: deploy-to-pypi
    permissions:
      id-token: write
    runs-on: ubuntu-latest
    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: wheels
          path: binding/python/dist
      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
