name: Test

on:
  push:
    branches: [ "*" ]
  pull_request:
    branches: [ "*" ]
  workflow_dispatch:

permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Install protobuf compiler
      run: |
        sudo apt install -y protobuf-compiler

    - name: Set up Rust toolchain
      uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        override: true

    - name: Build and Check Rust unit tests and harness tests all pass
      run: |
        make build
        make unit-test
        make test

    - name: Set up Python
      uses: actions/setup-python@v3
      with:
        python-version: "3.11.4"

    - name: Build and Check Python harness tests all pass
      run: |
        cd binding/python
        pip3 install -r requirements.txt
        make install
        cd ./tests
        pip3 install -r requirements.txt
        make test
        cd ../../
